---
import Layout from '../layouts/Layout.astro';
---

<Layout title="My CV">
	<div class="cv-container">
		<header>
			<h1>Adrian Llamas Sanchez</h1>
			<div class="contact-info">
				<p>Altamira, Mexico</p>
				<p>(+52) 833 475 6804</p>
				<p>adriansnuni@gmail.com</p>
			</div>
		</header>

		<section>
			<h2 class="section-title">Perfil</h2>
			<p>
				Desarrollador web y aspirante a diseñador UX/UI con sólida base en Python, Java y lenguajes clave de frontend como HTML. A pesar de no contar con experiencia laboral formal, he demostrado proactividad y dedicación a través de un proyecto personal de e-commerce, manteniéndolo y presentándolo en concursos durante un año. <br><br>

				Poseo fuertes habilidades de comunicación y trabajo en equipo, entendiendo que la colaboración es fundamental para motivar y mejorar tanto el rendimiento individual como el del equipo. Mi objetivo es unirme a una empresa con un ambiente de trabajo sano y que ofrezca oportunidades de crecimiento, donde pueda aplicar mi pasión por la programación para desarrollar interfaces intuitivas y funcionales.
			</p>
		</section>

		<section>
			<h2 class="section-title">Experiencia Profesional</h2>
			
		</section>

		<section>
			<h2 class="section-title">Proyectos Destacados</h2>
			<div class="experience-item">
				<h3>Suut</h3>
				<p class="date">2022 - 2023</p>
				<p>
				HTML | CSS | JavaScript | Figma
				</p>
				<p>
					(Suut significa 'caminar' o 'proceder' en maya)
					<br><br>
					Lideré el desarrollo de una plataforma de comercio electrónico similar a Amazon, especializada en la venta de productos 100% reciclados. Utilicé tecnologías web para crear un espacio donde los usuarios pudieran registrarse, publicar sus productos y gestionar las ventas.
				</p>
			</div>
			<div class="experience-item">
				<h3>BXB</h3>
				<p class="date">2022</p>
				<p>
				HTML | CSS | JavaScript | Figma
				</p>
				<p>
					Desarrollo de una página web interactiva enfocada en guías de ejercicio y rutinas de entrenamiento. Utilicé mis conocimientos de desarrollo web para crear una interfaz intuitiva y fácil de navegar, con contenido dinámico que se adapta a las necesidades del usuario.
				</p>
			</div>
			<div class="experience-item">
				<h3>Luxury Dental Studio</h3>
				<p class="date">2022</p>
				<p>
				React-Native | HTML | JavaScript | Figma | CSS | Laravel
				</p>
				<p>
					Desarrollo de una solución digital completa para la clínica odontológica Luxury Dental. Creé una aplicación móvil con React Native para la gestión de citas y notificaciones a los pacientes. Paralelamente, diseñé y programé la página web de la clínica con HTML y CSS para presentar los servicios y la información de contacto de manera profesional.
					<br><br>
					Implementé un sistema de agendamiento de citas que automatizó el proceso, mejorando la eficiencia de la clínica y la experiencia del paciente.
				</p>
			</div>
		</section>

		<section>
			<h2 class="section-title">Educación</h2>
			<div class="education-item">
				<h3>Tecnico en Programacion</h3>
				<p class="date">CBTis No.103 "Francisco Javier Mina"| 2020 - 2023, Cd. Madero, México</p>
			</div>
			<div class="education-item">
				<h3>Licenciatura en Ingeniero en Sistemas Computacionales</h3>
				<p class="date">Universidad Autonoma de Tamaulipas "UAT" Campus Sur| 2023 - En curso, Tampico, México</p>
			</div>
		</section>

		<section>
			<h2 class="section-title">Habilidades</h2>
			<p>
				Java | Python | SQL | HTML | CSS | Creatividad | Puntualidad | Empatía | Gestión de negocios
			</p>
		</section>

		<section>
			<h2 class="section-title">Idiomas</h2>
			<ul>
				<li>Español: Nativo</li>
				<li>Inglés: Intermedio - Avanzado</li>
				
			</ul>
		</section>
	</div>
</Layout>
